extends partials/layout

block main
    section#feature-area.feature-area
        div#slides
            each val in [1, 2, 3, 4]
                .item
                    img(src="public/images/slide-0" + val + ".png" alt="")
                    .caption(style='bottom: 0px;')
                        h1 Contrary to popular belief
                        p
                            | There are many variations of passages of Lorem Ipsum available, but the mainajority have suffered alteration
            a.slidesjs-previous.slidesjs-navigation(href='#')
                i.fa.fa-angle-left(aria-hidden='true')
            a.slidesjs-next.slidesjs-navigation(href='#')
                i.fa.fa-angle-right(aria-hidden='true')
        .feature-area-collapse
            #accordion.panel-group
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a(data-toggle='collapse', data-parent='#accordion', href='#collapseOne')
                                | Collapsible Group Item #1
                    // /.panel-heading
                    #collapseOne.panel-collapse.collapse.in
                        .panel-body
                            img(src='https://unsplash.it/290/100/?random')
                            | Anim pariatur cliche reprehenderit
                            a.see-more See More +
                        // /.panel-body
                    // /.panel-collapse
                // /.panel
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
                                | Collapsible Group Item #2
                    // /.panel-heading
                    #collapseTwo.panel-collapse.collapse
                        .panel-body
                            img(src='https://unsplash.it/290/100/?random')
                            | Anim pariatur cliche reprehenderit
                        // /.panel-body
                    // /.panel-collapse
                // /.panel
                .panel.panel-default
                    .panel-heading
                        h4.panel-title
                            a.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
                                | Collapsible Group Item #3
                    // /.panel-heading
                    #collapseThree.panel-collapse.collapse
                        .panel-body
                            img(src='https://unsplash.it/290/100/?random')
                            | Anim pariatur cliche reprehenderit
                        // /.panel-body
                    // /.panel-collapse
                // /.panel
            // /.panel-group
    section#home-banner.home-banner
        div.row
            .col-md-12
                div.banner.col-xs-12.col-sm-3.col-md-3.col-lg-3
                    div.banner-image
                        a(href="#")
                            img(src="public/images/banner-11.jpg" alt="")
                    div.banner-content
                        h4.banner-title
                            a(href="#") Banner Title
                        p.banner-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.banner.col-xs-12.col-sm-3.col-md-3.col-lg-3
                    div.banner-image
                        a(href="#")
                            img(src="public/images/banner-12.jpg" alt="")
                    div.banner-content
                        h4.banner-title
                            a(href="#") Banner Title
                        p.banner-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.banner.col-xs-12.col-sm-3.col-md-3.col-lg-3
                    div.banner-image
                        a(href="#")
                            img(src="public/images/banner-13.jpg" alt="")
                    div.banner-content
                        h4.banner-title
                            a(href="#") Banner Title
                        p.banner-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                div.banner.col-xs-12.col-sm-3.col-md-3.col-lg-3
                    div.banner-image
                        a(href="#")
                            img(src="public/images/banner-14.jpg" alt="")
                    div.banner-content
                        h4.banner-title
                            a(href="#") Banner Title
                        p.banner-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.


                            
