extends partials/layout

append config
	- var current = 'shopcategory'

mixin product(title, imageName, price)
	.product.col-xs-12.col-sm-6.col-md-3.col-lg-3
		.product-wrapper
			img.product-img(
				src="public/images/" + imageName
			)
			.product-content
				h3.product-title #{title}
				p.product-price #{price}
block main
	include partials/breadcrumb

	h1.page-title Thiet bi phong tam
	div.category-image
		img(src="public/images/img-cat-01.jpg", alt="")
	div.products
		div.row
			+product('iPhone 7+', 'produc-01.jpg', '$34')
			+product('Printer Ink', 'produc-02.jpg', '$69')
			+product('MP3 Player', 'produc-03.jpg', '$89')
		