div.footer-columns
    div.row
        div.col-xs-6.col-sm-4.col-md-5.col-lg-5
            h4.footer-title Cong ty co phan quoc te toan my
            p Tòa nhà GOLDEN PALACE Lê Văn Lương, Quận Thanh Xuân, Hà Nội
            br
            span Tel: 04.62815891
            br
            span Fax: 04.62815491
            br
            span Hỗ trợ khách hàng: 0968.706.888
            br
            span Email: Nangluongnanosi@gmail.com
        div.col-xs-6.col-sm-4.col-md-3.col-lg-3
            h4.footer-title Lien he
            ul.menu
                li.menu-item
                    a(href="") Gioi thieu
                li.menu-item
                    a(href="") Tin tuc
                li.menu-item
                    a(href="") Su kien
                li.menu-item
                    a(href="") Lien he

        div.col-xs-6.col-sm-4.col-md-4.col-lg-4
            h4.footer-title Google maps
