footer
    .container
        .row
            .col-md-4.footer-col
                h6.heading7 BRAND COMPANY
                p
                    | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
                h6  Our Location
                p
                    i.fa.fa-map-pin
                    |  #228, Tiruvannamalai, Tamilnadu, India
                p
                    i.fa.fa-phone
                    |  Phone (India) : +91 9999 999 999
                p
                    i.fa.fa-envelope
                    |  E-mail : info@prabuuideveloper.com
            .col-md-4.footer-col
                h6.heading7 NEWS & EVENT
                .post
                    a(href='#')
                        img(src='https://unsplash.it/70/?random')
                    h4
                        a(href='#') Title News Event 
                    p
                        | facebook crack the movie advertisment code:what it means for you 
                    a.read-more Read More +
                .post
                    a(href='#')
                        img(src='https://unsplash.it/70/?random')
                    h4
                        a(href='#') Title News Event 
                    p
                        | facebook crack the movie advertisment code:what it means for you 
                    a.read-more Read More +
                .post
                    a(href='#')
                        img(src='https://unsplash.it/70/?random')
                    h4
                        a(href='#') Title News Event 
                    p
                        | facebook crack the movie advertisment code:what it means for you 
                    a.read-more Read More + 
            .col-md-4.footer-col
                h6.heading7 Social Media
                p 
                    | facebook crack the movie advertisment code:what it means for you 
                .form-group.has-feedback
                    input#inputSuccess2.form-control(type='text', aria-describedby='inputSuccess2Status')
                    span.glyphicon.glyphicon-envelope.form-control-feedback(aria-hidden='true')
                h6 Flow Us On
                ul.footer-social
                    li
                        i.fa.fa-linkedin.social-icon.linked-in(aria-hidden='true')
                    li
                        i.fa.fa-facebook.social-icon.facebook(aria-hidden='true')
                    li
                        i.fa.fa-twitter.social-icon.twitter(aria-hidden='true')
                    li
                        i.fa.fa-google-plus.social-icon.google(aria-hidden='true')
// footer start from here
.copyright
    .container
        .col-md-12
            p © 2017 - All Rights with Copyright 2017 Nanosi
       
               
