header#site-header.site-header
    div.header-main
        div.row
            div.col-sm-6.col-md-6.col-lg-6
                include header-logo
            div.col-sm-4.col-md-4.col-lg-4
                include header-actions
            div.col-sm-2.col-md-2.col-lg-2
                include header-button
    include header-menu
