//- Mixin
mixin navLink
    #menuzord.menuzord.red
        a.menuzord-brand.hidden-lg.hidden-md(href='javascript:void(0)') NANOSI
        ul.menuzord-menu
            li.active
                a(href='javascript:void(0)') Trang chu
            li
                a(href='javascript:void(0)') Gioi thieu
            li
                a(href='javascript:void(0)') Thiet bi phong tam
                .megamenu
                    .megamenu-row
                        .col4
                            ul.list-unstyled
                                li
                                    h5 Thiet bi phong tam
                                li
                                    a(href='#') Voi nuoc
                                li
                                    a(href='#') Bon ve sinh nu
                                li
                                    a(href='#') Voi rua
                                li
                                    a(href='#') Bon cau
                        .col4
                            ul.list-unstyled
                                li
                                    h5 San pham moi
                                li
                                    a(href='#') Bon tam massage
                                li
                                    a(href='#') Nap bon cau
                                li
                                    a(href='#') Phu kien phong tam
                                li
                                    a(href='#') Noi that phong tam
                        .col4
                            ul.list-unstyled
                                li
                                    h5 San pham nghe thuat
                                li
                                    a(href='#') San pham khu cong cong
                                li
                                    a(href='#') Chau rua
                                li
                                    a(href='#') Bo san pham
                                li
                                    a(href='#') Voi nuoc
            li
                a(href='javascript:void(0)') Thiet bi nha bep
                .megamenu
                    .megamenu-row
                        .col4
                            ul.list-unstyled
                                li
                                    h5 San pham moi
                                li
                                    a(href='#') Voi bep
                                li
                                    a(href='#') Chau bep
                                li
                                    a(href='#') Tu ke bep
                                li
                                    a(href='#') Chau innox
                        .col4
                            ul.list-unstyled
                                li
                                    h5 Phu kien nha bep
                                li
                                    a(href='#') Voi bep
                                li
                                    a(href='#') Chau bep
                                li
                                    a(href='#') Tu ke bep
                                li
                                    a(href='#') Chau innox
            li
                a(href='javascript:void(0)') Ly do chon Nanosi
            li
                a(href='javascript:void(0)') Lien he

+navLink
