div.header-button
    .btn-group
        button(
            class='btn btn-default btn-sm dropdown-toggle'
            type='button'
            data-toggle='dropdown'
        ) Chi nhanh
            span.caret
        ul.dropdown-menu
            li
                a(href='#') Ha Noi
            li
                a(href='#') Da Nang
            li
                a(href='#') HCM
            li.divider
            li
                a(href='#') Tat ca

