*.log
.DS_Store
node_modules
*.html
public/css
public/images
public/js


/.htaccess
/public/css
/public/images
/public/js
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz
/*.html
/npm-debug.log
