/* ------------------- Header: Index ------------------- */

.site-header {

}

.header-main {
    padding: 10px 0 20px;
    .msg-text {
      font-size: 13px;
      margin-top: 6px;
      margin-bottom: 0;
    }
}

.header-action {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    .input-group,
    .header-button {
        float: left;
    }
    .input-group {
        width: 65%;
        padding-right: 10px;
    }
    .header-button {
        width: 35%;
    }
    .btn, .button, btn, button, input.submit, input[type=submit] {
      padding: 5px 15px;
      border-radius: 3px;
    }
}
