/* ------------------- Header: Main menu ------------------- */

.menuzord-menu {
	display: flex;
	justify-content: space-between;
	float: none;
}

.megamenu {
	font-size: 13px;

	a {
		color: #3498db;
	}
	h5 {
		font-size: 15px;
		color: #fff;
	}
}

