/* ------------------- Footer: Index ------------------- */

.site-footer { 
    
}

.footer-main { 
    
}

.footer-copyright { 
	color: #f5f5f5;
    font-size: 11px;
    margin-top: 5px;
}